<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<!-- <div class="container"> -->
  <!-- <div class="row">
    <div class="page-header col-12">
      <h1><%= title %></h1>
    </div>
  </div> -->

  <div class="row justify-content-between">
    <div class="page-header col-12">
      <div class="col-4 d-flex align-items-center">
        <p>阿毛TV</p>
      </div>

      <div class="col-4">
        <form action="/results" method="get">
          <div class="input-group mb-3">
            <input class="form-control" type="text" name ='q'>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">搜索</button>
            </div>
          </div>
        </form>
      </div>

      <hr>
    </div>
  </div>
<!-- </div> -->

<div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">重度科幻迷</a>
    </div>
    
    <% if (user) { %>
      <p class="navbar-text navbar-right navbar-nav">
        <span class="nav-item">欢迎您 <%= user.name %></span> 
        <span>&nbsp; | &nbsp;</span> 
        <a href="" class="nav-item" href="/logout">退出登录</a>
      </p>
    <% } else { %>
      <p class="navbar-text navbar-right navbar-nav">
        <a href="#" class="nav-item" data-toggle="modal" data-target="#signupModal">注册</a>
        <span>&nbsp; | &nbsp;</span> 
        <a href="#" class="nav-item" data-toggle="modal", data-target="#signinModal">登录</a>
      </p> 
    <% } %>
  </div>
</div>

<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/user/signup" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">注册</h5> 
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col-2">
                <label for="signupName">用户名</label>
              </div>
              <input type="text" id="signupName" name="user[name]" class="form-contol col-6">
            </div>
          </div>

          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col-2">
                <label for="signupPassword">密码</label>
              </div>
              <input type="text" id="signupPassword" name="user[password]" class="form-contol col-6">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-success">注册</button>
        </div>
            
      </form>
    </div>
  </div>
</div>
<div id="signinModal" class="modal fade" role="dialog" aria-labelledby="modal-title" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/user/signin" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">登录</h5> 
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col-2">
                <label for="signinName">用户名</label>
              </div>
              <input type="text" id="signinName" name="user[name]" class="form-contol col-6">
            </div>
          </div>

          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col-2">
                <label for="signupPassword">密码</label>
              </div>
              <input type="text" id="signinPassword" name="user[password]" class="form-contol col-6">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-success">登录</button>
        </div>
            
      </form>
    </div>
  </div>
</div>