<footer style="width: 100%;position: absolute;bottom: 0;">
    <p style="text-align: center;">All content copyright <%= new Date().getFullYear() %>.</p>
</footer>

    <script src="/libs/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>